:root {
  --creation-bg-color: rgb(241, 241, 241);
}

.creation-form {
  width: 30% !important;
  background-color: var(--creation-bg-color);
  padding: 70px 50px;
  
  border-radius: 30px;
}

.creation-form.deliverer {
  margin-top: 20vh;
}

.creation-form.delivery {
  margin-top: 15vh;
}

.creation-form.shift {
  margin-top: 10vh;
}

.creation-error-message {
  width: 40%;
}

.visible-help-label {
  position: fixed !important;
}